body {
  background-color: #c4d0d3;
  font-weight: bold;
}

.card {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  max-width: 350px;
  min-width: 75px;
  background-color: #424647;
  color: white;
  margin: 10px;
  border-radius: 5px;
}

.media {
  display: block;
  margin: auto;
  padding-bottom: 5px;
  border-radius: 5px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.title {
  font-size: xx-large;
  color: white;
}

.ui-helper-hidden-accessible {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 150px;
  margin: 5px;
}

.notification {
  background-color: #245687;
}

.is-size-3 {
  color: white;
  text-align: center;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  padding: 4px 0;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  text-decoration: none;
}

.ui-state-hover,
.ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

.modal-card-head,
.modal-card-foot {
  background-color: #245687;
}

.modal-card-title {
  color: white;
}
#search-result-card {
  background-color: #c4d0d3;
}
